<div class="box">
  <div>
    <h1 class="title black">Edit Show </h1>
  </div>
  <div>
    <%= form_with model: @show, url: show_path(@show), method: :post, local: true do |form| %>
      <%= render 'form_fields', form: form, submit_text: 'Update show' %>
    <% end %> 
  </div>
</div>    