<!DOCTYPE html>
<html lang="en">
<%= stylesheet_link_tag 'indexstyle', media: 'all', 'data-turbolinks-track': 'reload' %>

  <body>
    <div class="table">
      <% @shows.each do |show| %>
        <tr>
          <!--<td class='title'><%= link_to show.title, show_path(show) %></td>-->
          <span class="show text white">
            <%= link_to "#{show.title}", show_path(show), class:"text white nounderline" %>
          </span>
        </tr>
      <% end %>
    </div>
    <br>
  </body>
</html>
