<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="table">
      <% @shows.each do |show| %>
        <tr>
          <!--<td class='title'><%= link_to show.title, show_path(show) %></td>-->
          <a class="show"><%= show.title %></a>
        </tr>
      <% end %>
    </div>
    <br>
  </body>
</html>
