@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&display=swap');


.title {
    font-family: 'Abril Fatface';
    font-size: 250%;
}

.text {
    font-family: 'Outfit';
    font-weight: 400;
    font-size: 120%;
}


.show {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px; /*sets height of element*/
    background: #6591c8; /*sets the background of this element (here a solid colour)*/
    transition: all 0.6s; /*sets a transition (for hover effect)*/
    padding-left: 3%; /*sets 'padding'*/
    padding-right: 3%; /*sets 'padding'*/
    max-width: 100px;
    line-height: 150%; /*for this, it sets vertical alignment*/
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    justify-self: center;
    text-decoration: none;
  }
  .show:hover {
    background: #79b0f4; /*sets background colour*/
  }
  .table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.1% 0.1%;
    justify-content: left;
    align-items: center;
  }
