h1{
    font-size: 40pt;
    text-decoration: underline;
}

.navbar {
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}

.navitem {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
}

.img {
    height: 10%;
}